.containerLogo {
  width: 120px;
  margin-left: 8px;
}

.containerLogo>a {
  text-decoration: none;
}

.containerLogo>a>h1 {
  color: var(--primary-red-strong);
  text-align: center;
  font-style: oblique;
}

.containerLogo>a>h1>span {
  color: var(--neutral-white-transparent);
}

@media screen and (max-width: 768px) {
  .containerLogo {
    margin-left: 0px;
  }
}