.containerLogo {
  width: 120px;
}

.containerLogo>h1 {
  color: var(--primary-red-strong);
  text-align: center;
  font-style: oblique;
}

.containerLogo>h1>span {
  color: var(--neutral-white-transparent);
}