:root {
  /* Background Colors */
--background-dark: #141A29;

/* Primary Colors */
--primary-red: red;
--primary-red-light: rgba(255, 0, 0, 0.2);
--primary-red-very-light: rgba(255, 0, 0, 0.119);
--primary-red-semi-transparent: rgba(255, 0, 0, 0.4);
--primary-red-half: rgba(255, 0, 0, 0.5);
--primary-red-medium: rgba(255, 0, 0, 0.593);
--primary-red-medium-transparent: rgba(255, 0, 0, 0.473);
--primary-red-semi-bold: rgba(255, 0, 0, 0.6);
--primary-red-bold: rgba(255, 0, 0, 0.7);
--primary-red-strong: rgba(255, 0, 0, 0.8);
--primary-red-almost-solid: rgba(255, 0, 0, 0.896);

/* Accent Red Tones */
--accent-red-light: rgba(217, 12, 12, 0.2);
--accent-red-bold: rgba(217, 18, 18, 0.9);
--accent-red-medium: rgba(199, 11, 11, 0.5);
--accent-red-strong: rgba(217, 12, 12, 0.896);

/* Neutral Colors */
--neutral-white: #fff;
--neutral-black: #000;
--neutral-white-transparent: #ffffff60;
--neutral-warm-brown: rgb(108, 61, 61);

/* Renamed Colors */
--deep-blue: #1b2642;
--black-transparent: #0000008e;
--neutral-dark: #181818;

/* Blue Shade */
--blue-overlay: #334060b4;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Condensed:ital@1&family=Rubik:ital,wght@1,500&display=swap');

* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  background-color: var(--background-dark);
  font-size: 16px;
  color: var(--neutral-white);
  letter-spacing: 1px;
  font-family: "Roboto Condensed", sans-serif;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

main {
  position: relative;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

/* Estilização para telas maiores que 768px */
@media (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.25rem;
  }
}

/* Estilização para telas menores que 768px */
@media (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }
}

