.container {
    width: 100%;
    padding: 0 12px;
}

.title {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 34px;
    border-bottom: 1px solid var(--primary-red-medium-transparent);
    padding: 0px 12px 12px 12px;
}

.title > h2 > span {
    color: var(--primary-red);
}

.title2 {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 34px;
    border-bottom: 1px solid var(--primary-red-medium-transparent);
    padding: 0px 12px 12px 12px;
    margin-top: 44px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title2 > a {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .5s;
}

.title2 > a > span {
    font-size: 18px;
    color: var(--neutral-white);
    font-weight: bold;
}

.title2 > a:hover span{
    text-decoration: underline;
}
